@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css ya main.css me */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

.scrolling-text-container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .scrolling-text {
    display: flex;
    animation: marquee 100s linear infinite;
  }
 
  /* .newspaper-title {
  width: 100%;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;  
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 0 auto;
} */

  @keyframes marquee {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  